@import "reset";

$Blue: hsl(223, 87%, 63%);
$Pale_Blue: hsl(223, 100%, 88%);
$Light_Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very_Dark_Blue: hsl(209, 33%, 12%);

body {
    font-size: 1.25rem;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem 1rem;
}

@media (min-width: 600px) {
    body {
        padding: 6rem 25rem;
    }
}

.sr-only:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    white-space: nowrap; 
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.logo {
    margin: auto;
    width: 3.3rem;
}

@media (min-width: 600px) {
    .logo {
        width: 5rem;
    }
}

.title {
    font-size: 1.4rem;
    font-weight: 300;
    color: $Gray;
    margin-top: 1.5rem;
}

@media (min-width: 600px) {
    .title {
        font-size: 3rem;
    }
}

.title-emphasis {
    font-weight: 700;
    color: $Very_Dark_Blue;
}

.subtitle {
    font-size: 0.75rem;
    font-weight: 300;
    color: $Very_Dark_Blue;
}

@media (min-width: 600px) {
    .subtitle {
        font-size: 1.25rem;
    }
}

.notification-form {
    margin: 1rem 0;
}

.form-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 600px) {
    .form-fieldset {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
        align-items: center;
    }
}

.email-input {
    width: 100%;
    border-radius: 2rem;
    font-size: 0.75rem;
    padding: 0.7rem 2.5rem;
    border: 0.01rem solid $Pale_Blue;
    order: 1;
}

@media (min-width: 600px) {
    .email-input {
        padding: 1rem 2.5rem;
        font-size: 1rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.email-input::placeholder {
    color: $Gray;
    opacity: 0.6;
}

.submit-button {
    border-radius: 2rem;
    font-size: 0.75rem;
    padding: 0.7rem;
    font-weight: 300;
    color: white;
    background-color: $Blue;
    border: none;
    order: 3;
}

.submit-button:hover {
    opacity: 0.75;
}

@media (min-width: 600px) {
    .submit-button {
        padding: 1rem 2.5rem;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.email-error-message {
    order: 2;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 600;
    color: $Light_Red;
}

@media (min-width: 600px) {
    .email-error-message {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}


.illustration-dashboard {
    margin: 3rem auto 6rem;
}

.icon-list {
    list-style: none;
    padding: 0 6.5rem;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 600px) {
    .icon-list {
        padding: 0 15rem;
    }
}

.icon-circle {
    border-radius: 50%;
    border: 0.05rem solid $Pale_Blue;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $Blue;
}

.icon-circle:hover {
    border: none;
    color: white;
    background-color: $Blue;
}

.copyright {
    font-weight: 300;
    color: $Gray;
    font-size: 0.65rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}